<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置全局属性 -->
   <!-- <settings>
        &lt;!&ndash; 使用jdbc的getGeneratedKeys获取数据库自增主键值 &ndash;&gt;
        &lt;!&ndash;<setting name="useGeneratedKeys" value="true" />&ndash;&gt;

        &lt;!&ndash; 开启驼峰命名转换:Table{create_time} -> Entity{createTime} &ndash;&gt;
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    &lt;!&ndash;使用对象别名&ndash;&gt;
    <typeAliases>
        <typeAlias type="fishman.fish.springbootdemo01.beans.Emp" alias="Emp"></typeAlias>
        <typeAlias type="fishman.fish.springbootdemo01.beans.User" alias="User"></typeAlias>
        <typeAlias type="fishman.fish.springbootdemo01.beans.Dept" alias="Dept"></typeAlias>
    </typeAliases>-->
</configuration>